@model Web.Models.Entidades.Municipe.Municipe

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Municipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idcadastrador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idcadastrador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeNm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeNm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeDataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeDataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeNDocIdent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeNDocIdent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeTipoDocIdentificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeTipoDocIdentificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeDocDataEmissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeDocDataEmissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeDocDataValidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeDocDataValidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeNif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeNif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeGenero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeGenero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeEstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeEstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeTelefone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeTelefone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeTelefone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeTelefone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeFoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoradaZona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoradaZona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoradaCasaN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoradaCasaN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoradaRuaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoradaRuaId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
