@model IEnumerable<Web.Models.Entidades.Municipe.Municipe>

@{
    ViewBag.Title = "Listar";
}


<body>

<div class="main-content">
<div class="container-fluid content-top-gap">

    <div class="card card_border">
        <div class="cards__heading">
            <h3>Munícipes Cadastrados <span></span></h3>
            <div class="dropdown-divider"></div>
            <a href="@Url.Action("Cadastrar")" class="btn btn-outline-success"><i class="fa fa-plus"></i> Cadastrar</a>
            <a href="@Url.Action("#")" class="btn btn-outline-info pull-right"><i class="fa fa-print"></i> Imprimir</a>
        </div>
        <!--Inicio do Conteudo-->
        
        
        @foreach (var item in Model)
        {
            <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
                <div class="col mb-3">
                    <div class="card">
                        <img src="https://via.placeholder.com/340x120/FFB6C1/000000" alt="Cover" class="card-img-top">
                        <div class="card-body text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" style="width: 70px; margin-top: -85px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-0">
                            
                            <h5 class="card-title">@item.Nome</h5>
                            <p class="text-secondary mb-1">@item.MunicipeNm</p>
                            <div class="dropdown-divider"></div>
                            <small><span><b>Casa Nº: </b></span></small><small><span>50</span></small>   <small><span><b>Zona Nº: </b></span></small><small><span>5</span></small>  <br/>
                           <small><span><b>Rua: </b></span></small><small><span>Estrada Direita da Guiné</span></small> <br/>
                            <small><span><b>Bairro: </b></span></small><small><span>Ritondo</span></small>  <br/>
                            <small><span><b>Comuna: </b></span></small><small><span>Malanje</span></small> <br/>
                            <small><span><b>Munícipio: </b></span></small><small><span>Malanje</span></small> 
                        </div>
                      
                        <div class="card-footer">
                            @Html.ActionLink("asd","Detalhes","Municipe")
                            <button class="btn-warning"><i style="font-size: large; color: #F8F8F8" class="bg-warning fa fa-info"></i></button>
                            <button class="btn-info"><i style="font-size: large; color: #F8F8F8" class="bg-success fa fa-group"></i></button>
                            <button class="btn-info"><i style="font-size: large; color: #F8F8F8" class="bg-secondary fa fa-home"></i></button>
                            <button class="btn-info"><i style="font-size: large; color: #F8F8F8" class="bg-info  fa fa-motorcycle"></i></button>
                        </div>
                    </div>
                </div>
            </div>
       </div>

        }
        
        

        

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        

       
        
        
                
        @*Fim do Conteudo*@
    </div>
    </div>
</div>
</body>
