@using Web.Models.Contratos.Repositorios
@model IEnumerable<Web.Models.Entidades.Municipe.Municipe>

@{
    ViewBag.Title = "Listar";
}

<head>
    <meta charset="utf-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Extras/bootstrap 3.2.0.css" rel="stylesheet">
  
    <link href="~/Content/Extras/Municipe/Table.css" rel="stylesheet" />
  
</head>

<body>
<div class="main-content">
<div class="container-fluid content-top-gap">

    <div class="card card_border">
        <div class="cards__heading">
            <h3>Munícipes Cadastrados <span></span></h3>
            <div class="dropdown-divider"></div>
            <a href="@Url.Action("Cadastrar")" class="btn btn-outline-success"><i class="fa fa-plus"></i> Cadastrar</a>
            <a href="@Url.Action("#")" class="btn btn-outline-info pull-right"><i class="fa fa-print"></i> Imprimir</a>
        </div>
        <!--Inicio do Conteudo-->
        
        
     

<div class="container">
    <div class="row">
        <div class="table-responsive">
                        <table class="table user-list table-striped  table-hover">
                            <thead class="bg-info">
                            <tr>
                                 <th><span>Foto</span></th>
                                <th><span>Nome Completo<br/>Nº Munícipe</span></th>
                                <th class="text-center"><span >Data<br/> Nascimento</span></th>
                                <th class="text-center"><span>Tipo Doc<br/>Nº Doc</span></th>
                                <th><span>D. Emissão<br/>D.Validade</span></th>
                                <th><span>Email<br/> Telefones</span></th>
                                <th><span>Género<br/>E. Civil</span></th>
                                <th><span>Idade<br/>Estado</span></th>

                                <th>Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    @{
                                        RepGenerico generico=new RepGenerico();
                                        string genero = generico.CarregarGenerosPorId(item.MunicipeGenero);
                                        string estadoCivil = generico.CarregarEstadoCivilPorId(item.MunicipeEstadoCivil);
                                        int idade = DateTime.Now.Year - @item.MunicipeDataNascimento.Year;
                                       
                                      
                                            
                                       
                                        
                                    }
                                    <td style="width: 3%;">
                                        <img src="~/Content/images/New/UserMale.png">
                                    </td>
                                    <td style="width: 15%;">
                                        <a href="#">@item.Nome</a><br/>
                                        <span class="user-subhead">@item.MunicipeNm</span>
                                    </td>
                                    <td class="text-center">
                                        <span >@item.MunicipeDataNascimento.ToShortDateString()</span>

                                    </td>
                                    <td class="text-center">
                                        B.I<br/>
                                        <span class="user-subhead">@item.MunicipeNDocIdent</span>
                                    </td>
                                    <td class="text-center">
                                        @item.MunicipeDocDataEmissao.ToShortDateString()<br/>
                                        <span class="user-subhead">@item.MunicipeDocDataValidade.ToShortDateString()</span>
                                    </td>
                                    <td class="text-center">
                                        @item.MunicipeEmail<br/>
                                        <span class="user-subhead">@item.MunicipeTelefone1-@item.MunicipeTelefone2</span>
                                    </td>
                                    <td class="text-center">
                                        @genero<br/>
                                        <span class="user-subhead">@estadoCivil</span>
                                    </td>
                                    <td class="text-center">
                                        @idade<br/>
                                        @if (item.Estado)
                                        {
                                         <span class="user-subhead label label-success">Activado</span>
                                        }
                                        else
                                        {
                                            <span class="user-subhead label label-danger">Desativado</span>
                                        }
                                       
                                    </td>
                                    @*<td class="text-center">
                                        <span class="label label-default">pending</span>
                                    </td>*@


                                    <td style="width: 7%;">
                                        <a href="#" class="table-link text-warning">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="#" class="table-link text-info">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <br/>
                                        <a href="#" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="#" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-motorcycle fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        

       
        
        
                
        @*Fim do Conteudo*@
    </div>
    </div>
</div>
</body>
