@*@model IEnumerable<Web.Models.Entidades.Municipe.Municipe>*@
@using Web.Models.Entidades.Municipe


    <table>
    <thead>
        <tr>Nome</tr>       
    </thead>
        <tbody>
            @if (ViewData["Municipe"]!=null)
            {
             foreach (var std in ViewData["Municipe"] as IList<Municipe>)
             {
             <tr>
                <td>@std.Nome</td>
            </tr>

             }
            } 
            
        </tbody>
    </table>
    





@*<div>
    <h4>Municipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idcadastrador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idcadastrador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeNm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeNm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeDataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeDataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeNDocIdent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeNDocIdent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeTipoDocIdentificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeTipoDocIdentificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeDocDataEmissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeDocDataEmissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeDocDataValidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeDocDataValidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeNif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeNif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeGenero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeGenero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeEstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeEstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeTelefone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeTelefone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeTelefone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeTelefone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipeFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipeFoto)
        </dd>

    </dl>
</div>*@

