@model IEnumerable<Web.Models.Entidades.Municipe.Municipe>

@if (Model !=null)
{
<div class="container bootstrap snippets bootdey">
<div class="panel-body inf-content">
    <div class="row">
        @foreach (var item in Model)
        {        
        <div class="col-md-4">
            <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="~/Content/images/avatar7.png" data-original-title="Usuario">             
        </div>
        <div class="col-md-6">
            <strong id="nomeMunicipe" class="" style="font-size:large;color:forestgreen">@item.Nome</strong><br>
            <div class="table-responsive">
            <table class="table table-user-information">
                <tbody>
                    <tr>        
                        <td>
                            <strong>
                                <span class="fa fa-asterisk text-primary"></span>
                                Munícipe Nº                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            @item.MunicipeNm     
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <strong>
                                <span class="fa fa-calendar  text-primary"></span>    
                                Data Nascimento                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            @item.MunicipeDataNascimento.ToLongDateString()     
                        </td>
                    </tr>
                      <tr>    
                        <td>
                            <strong>
                                <span class="fa fa-bookmark  text-primary"></span>    
                                Genero / Estado Civil                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            @item.MunicipeGenero / @item.MunicipeEstadoCivil     
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="fa fa-book text-primary"></span>  
                                Tipo Doc/Nº                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            @item.MunicipeTipoDocIdentificacao / @item.MunicipeNDocIdent  
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="fa fa-calendar text-primary"></span> 
                                Emissão / Validade                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                             @item.MunicipeDocDataEmissao.ToShortDateString() - @item.MunicipeDocDataValidade.ToShortDateString() 
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="fa fa-phone text-primary"></span> 
                                Telefones                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            @item.MunicipeTelefone1 - @item.MunicipeTelefone2  
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="fa fa-envelope text-primary"></span> 
                                Email                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            @item.MunicipeEmail  
                        </td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <span class="fa fa-home text-primary"></span> 
                                Casa Nº / Rua                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            S/N-Antonio José de Almeida
                        </td>
                    </tr>
                    
                    <tr>        
                        <td>
                            <strong>
                                <span class="fa fa-map-marker text-primary"></span>
                                Bairro / Zona                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            Ritondo - 4
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="fa fa-map text-primary"></span>
                                Comuna / Municipio                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                             Malanje / Malanje
                        </td>
                    </tr>                                    
                </tbody>
            </table>
            </div>
        </div>
        }
    </div>
</div>
</div> 
}
else
{
    <h2 class="text-danger text-center">Munícipe "@ViewBag.msg" não encontrado </h2>
}
                                       