@model IEnumerable<MVC.Models.Entidades.Usuario.User>

@{
    ViewBag.Title = "Lista de Usuários";
}

<div class="inner">
    <a class="btn btn-success" href="@Url.Action("Cadastrar")"><i class="fa fa-2x fa-user-plus"></i>Cadastrar</a>
</div>
<p></p>
    <div class="box box-info">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                 
               @foreach (var item in Model)
               {
                   if (item.Estado)
                   {
                       <div class="col-lg-3 col-6">
                           <!-- small box -->
                           <div class="small-box bg-aqua-gradient">
                               <div class="inner">
                                   @{
                                       char[] delimitador = {' '};
                                       string[] pedacos = item.NomeCompleto.Split(delimitador);
                                       int tamanho = pedacos.Length;
                                       int res = tamanho - 2;
                                   }
                                   <h2>@pedacos.First() @pedacos.Last()</h2>
                                   <p><b>Login:</b> @item.UserName</p>
                                   <p> <b>@item.Email</b><small> </small></p>
                                   <p><b>Telefone:</b> @item.PhoneNumber</p>
                                    <p><b>Data Cadastro:</b> @item.DataCadastro.ToShortDateString()</p>
                               </div>
                               <div class="icon">
                                   <i class="ion ion-bag"></i>
                               </div>
                               <a href="#" class="small-box-footer">@ViewBag.Perfil<i class="fas fa-arrow-circle-right"></i></a>
                               <div class="divider">
                                   @*<a href="#" class="small-box-footer">*@
                                   <a href="#" class="small-box">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-warning" type="button" value="@item.Id" onclick="location.href = '@Url.Action("Alterar")'"><i class="fa fa-1x fa-edit"></i> Editar</button>|
                                       <button class="btn btn-danger"><i class="fa fa-1x fa-trash"></i> Excluir</button>


                                   </a>
                               </div>
                              
                           </div>
                       </div>
                        }
                   else
                   {
                       <div class="col-lg-3 col-6">
                           <!-- small box -->
                           <div class="small-box bg-red-gradient">
                               <div class="inner">
                                   @{
                                       char[] delimitador = {' '};
                                       string[] pedacos = item.NomeCompleto.Split(delimitador);
                                       int tamanho = pedacos.Length;
                                       int res = tamanho - 2;
                                   }
                                   <h2>@pedacos.First() @pedacos.Last()</h2>
                                   <p><b>Login:</b> @item.UserName</p>
                                   <p> <b>@item.Email</b><small> </small></p>
                                   <p><b>Telefone:</b> @item.PhoneNumber</p>
                                    <p><b>Data Cadastro:</b> @item.DataCadastro.ToShortDateString()</p>
                               </div>
                               <div class="icon">
                                   <i class="ion ion-bag"></i>
                               </div>
                               <a href="#" class="small-box-footer">@ViewBag.Perfil<i class="fas fa-arrow-circle-right"></i></a>
                               <div class="divider">
                                   @*<a href="#" class="small-box-footer">*@
                                   <a href="#" class="small-box">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-warning" type="button" value="@item.Id" onclick="location.href = '@Url.Action("Alterar")'"><i class="fa fa-1x fa-edit"></i> Editar</button>|
                                       <button class="btn btn-danger"><i class="fa fa-1x fa-trash"></i> Excluir</button>


                                   </a>
                               </div>
                              
                           </div>
                       </div>
                       
                   }
               }
               <!-- right col -->
                </div>
        
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
</div>