@model Web.Models.Entidades.Locais.Moradas


<body lang="pt">
<div class="main-content">
    <div class="container-fluid content-top-gap">
        <div class="card card_border">
            @using (Html.BeginForm())
            {
                <div class="card card_border py-2 mb-4">
                    <div class="card-body">
                                
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label  class="input__label">Municipio</label>
                                @if (ViewBag.listamunicipio != null)
                                {
                                    @Html.DropDownList("MunicipioId", ViewBag.listamunicipio as SelectList, "Selecione o Municipio", new {@class = "form-control input-style", title = "Escolha o munícipio", required = ""})
                                }
                            </div>
                            <div class="form-group col-md-5">
                                <label  class="input__label">Comuna</label>
                                @Html.DropDownList("ComunaId",new SelectList(""),"Selecione a comuna", htmlAttributes: new {@class = "form-control input-style", title = "Escolha a comuna", required = ""})
                            </div>
                            <div class="form-group col-md-1">
                                <label  class="input__label hidden">Add</label>
                                <button  type="button" class="btn-outline-success form-control input-style" title="Adicionar nova comuna" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-plus"></i></button>
                            </div>
                                    
                            <div class="form-group col-md-4">
                                <label  class="input__label">Bairro</label>
                                @Html.DropDownList("MoradaBairroId",new SelectList(""),"Selecione o bairro", htmlAttributes: new {@class = "form-control input-style", title = "Escolha a rua", required = ""})
                            </div>
                            <div class="form-group col-md-1">
                                <label  class="input__label hidden">Add</label>
                                <button type="button" class=" btn-outline-success form-control input-style" title="Adicionar novo bairro"><i class="fa fa-plus"></i></button>
                            </div>

                            <div class="form-group col-md-1">
                                <label  class="input__label">Zona</label>
                                @{List<string>zonas=new List<string>{"1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","S/N"};}
                                @Html.DropDownListFor(d=>d.MoradaZona, new SelectList(zonas), "...", htmlAttributes: new {@class = "form-control input-style", title = "Escolha o nº da zona", required = ""})
                            </div>
                            <div class="form-group col-md-5">
                                <label  class="input__label">Rua</label>
                                @Html.DropDownListFor(m=>m.MoradaRuaId,new SelectList(""),"Selecione a rua", htmlAttributes: new {@class = "form-control input-style", title = "Escolha a rua", required = ""})
                                 
                            </div>

                            <div class="form-group col-md-1">
                                <label  class="input__label hidden">Add</label>
                                <button type="button" class=" btn-outline-success form-control input-style" title="Adicionar nova rua"><i class="fa fa-plus"></i></button>
                            </div>
                            <div class="form-group col-md-4">
                                <label  class="input__label">Casa Nº</label>
                                @Html.EditorFor(model => model.MoradaCasaN, new {htmlAttributes = new {@class = "form-control input-style", PlaceHolder = "número da casa", title = "Nº da Casa"}})
                            </div>
                        </div>
                    </div>
                     <div class="panel-footer ">
                         <a class="btn btn-outline-danger  pull-right" href="@Url.Action("ListarPorNm/"+@ViewBag.id)"><i class="fa fa-close"></i> Cancelar</a>
                         <button  type="submit" class="btn  btn-outline-success  pull-right"><i class="fa fa-save"></i> Guardar</button>
                     </div>
                 </div>
                 <br/><br/><br/><br/>
            }
        </div>
    </div>
</div>
<!-------------->
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<!----DropDownList-----Comuna--------->
<script>
    $(document).ready(function() {
        $("#MunicipioId").change(function() {
            var municipioId = $(this).val();
            debugger 
            $.ajax({
                type: "post",
                url: "/Municipe/GetComunas?id=" + municipioId,
                contentType: "html",
                success: function(response) {
                    debugger
                    $("#ComunaId").empty();
                    $("#ComunaId").append(response);
                }
            })
        } )
    } )
</script>
<!----DropDownList-----Bairros--------->
<script>
    $(document).ready(function() {
        $("#ComunaId").change(function() {
            var bairroId = $(this).val();
            debugger 
            $.ajax({
                type: "post",
                url: "/Municipe/GetBairros?id=" + bairroId,
                contentType: "html",
                success: function(response) {
                    debugger
                    $("#MoradaBairroId").empty();
                    $("#MoradaBairroId").append(response);
                }
            })
        } )
    } )
</script>
<!----DropDownList-----Ruas--------->
<script>
    $(document).ready(function() {
        $("#MoradaBairroId").change(function() {
            var bairroId = $(this).val();
            debugger 
            $.ajax({
                type: "post",
                url: "/Municipe/GetRuas?id=" + bairroId,
                contentType: "html",
                success: function(response) {
                    debugger
                    $("#MoradaRuaId").empty();
                    $("#MoradaRuaId").append(response);
                }
            })
        } )
    } )
</script>
<!-------------->
<script>
    function ChamarTela2() {
        alert("Olá");
    }
</script>
<!------------------Center Modal----------------------------------------->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Cadastrar Comuna</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            Conteudo vai aparecer aqui
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.MoradaCasaN, new {htmlAttributes = new {@class = "form-control input-style", PlaceHolder = "número da casa", title = "Nº da Casa", required = ""}})
                              
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
                          <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                      </div>
                    </div>
                  </div>
<!------------------Center Modal----------------------------------------->
            
    
 
</body>
       
