@model IEnumerable<Web.Models.Entidades.Locais.Moradas>

@{
    ViewBag.Title = "ListarPorNm";
}


<body>
<header>
    <link href="~/Content/Extras/Moradas.css" rel="stylesheet" />
</header>
<div class="main-content">
    <div class="container-fluid content-top-gap">

        <div class="card card_border">
           <div class="card__box-shadow">
            <h3>Moradas <span></span></h3>
            <div class="dropdown-divider"></div>
            <a href="@Url.Action("Cadastrar")" class="btn btn-success ml-2"><i class="fa fa-plus"></i> Cadastrar</a>
            <a href="@Url.Action("#")" class="btn btn-info pull-right mr-2"><i class="fa fa-print"></i> Imprimir</a>

            <div class="dropdown-divider"></div>
        </div>
            @*---------------------------------------------------------------------------------------------------------------------------------------------------*@
<section class="pt-2 ml-3 pb-100" id="pricing">
			
		
			
    <div class="row ">
        @foreach (var item in  Model)
        {
             if (item.Estado)
            {
               <div class="col-3 ">
            <div class="single-price  bg-success">
                <div class="recomemded-price">
                    <img src="~/Content/images/New/house.png" width="50" height="50"/>
                </div>

                <div class="price-item">
                    <ul>
                        <li><b>Casa Nº :</b> <span>@item.MoradaCasaN</span></li>
                        <li><b>Rua :</b> <span>@item.MoradaRuaId</span></li>
                        <li><b>Bairro :</b> <span>Ritondo</span>&nbsp;&nbsp;<b>Zona:</b> @item.MoradaZona</li>
                        <li><b>Comuna :</b> <span>Malanje</span></li>
                        <li><b>Munícipio :</b> <span>Malanje</span></li>
                    </ul>
                </div>

            </div>

        </div>  
            }
             else
             {
                    <div class="col-3 ">
            <div class="single-price bg-warning">
                <div class="recomemded-price">
                    <img src="~/Content/images/New/house.png" width="50" height="50"/>
                </div>

                <div class="price-item">
                    <ul>
                        <li><b>Casa Nº :</b> <span>@item.MoradaCasaN</span></li>
                        <li><b>Rua :</b> <span>Antonio José de Almeida</span></li>
                        <li><b>Bairro :</b> <span>Azul</span>&nbsp;<b>Zona Nº :</b> 10</li>
                        <li><b>Comuna :</b> <span>Malanje</span></li>
                        <li><b>Munícipio :</b> <span>Malanje</span></li>
                    </ul>
                </div>

            </div>

        </div>
             }
          
           
       

        }
       




    </div>

		
	  </section>

            @*---------------------------------------------------------------------------------------------------------------------------------------------------*@
        </div>
    </div>
</div>
</body>
