@model IEnumerable<Web.Models.Entidades.Locais.Moradas>

@{
    ViewBag.Title = "ListarPorNm";
}


<body>
<header>
    <link href="~/Content/Extras/Moradas.css" rel="stylesheet" />
</header>
<div class="main-content">
    <div class="container-fluid content-top-gap">

        <div class="card card_border">
            <div class="cards__heading">
                <h3>Moradas do Munícipe <span></span></h3>
                <div class="dropdown-divider"></div>
                <a href="@Url.Action("Cadastrar")" class="btn btn-outline-success"><i class="fa fa-plus"></i> Cadastrar</a>
                <a href="@Url.Action("#")" class="btn btn-outline-info pull-right"><i class="fa fa-print"></i> Imprimir</a>
            </div>
            @*---------------------------------------------------------------------------------------------------------------------------------------------------*@
    <table class="table table-striped table-bordered table-hover table-sm">
                
     <thead style="text-align: center">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Casa Nº</th>
      <th scope="col">Rua</th>
        <th scope="col">Zona</th>
        <th scope="col">Bairro</th>
        <th scope="col">Comuna</th>
        <th scope="col">Munícipio</th>
        <th scope="col">Data Registo</th>
        <th scope="col">Estado</th>
        <th scope="col">Acções</th>
    </tr>
  </thead>
     <tbody>
     @foreach (var morada in Model)
     {
    <tr>
         <th scope="row">@morada.Id</th>
         <td>@morada.MoradaCasaN</td>
         <td>@morada.MoradaRua</td>
         <td>@morada.MoradaZona</td>
         <td>@morada.MoradaBairroId</td>
         <td>Comuna</td>
         <td>Municipio</td>
         <td>@morada.Estado</td>
         <td>mdo</td>

     </tr>
     }
     


     </tbody>
</table>

















            @*---------------------------------------------------------------------------------------------------------------------------------------------------*@
        </div>
    </div>
</div>
</body>
