@using Web.Helpers
@using Web.Models.Contratos.Repositorios
@model IEnumerable<Web.Models.Entidades.Locais.Moradas>

@{
    ViewBag.Title = "ListarPorNm";
}


<body>
<header>
    <link href="~/Content/Extras/Moradas.css" rel="stylesheet" />
</header>
<div class="main-content">
    <div class="container-fluid content-top-gap mt-4">

        <div class="card card_border">
           <div class="cards__heading">
            <h3>Moradas de  <span>@ViewBag.municipe</span></h3>
            @*<div class="dropdown-divider"></div>*@
            @*<a href="@Url.Action("Cadastrar")" class="btn btn-outline-success ml-2"><i class="fa fa-plus"></i> Cadastrar</a>
            <a href="@Url.Action("#")" class="btn btn-info pull-right mr-2"><i class="fa fa-print"></i> Imprimir</a>

            <div class="dropdown-divider"></div>*@
        </div>
            @*---------------------------------------------------------------------------------------------------------------------------------------------------*@
<section class="pt-2 ml-3 pb-100" id="pricing">
			
		
			
    <div class="row ">
        @foreach (var item in  Model)
        {
           
                string[] locais = new[] {"", "", "",""};
                RepMorada rep=new RepMorada();
                locais = rep.CarregarLocais(item.MoradaRuaId);
            RepUsuario user=new RepUsuario();
            string nomeCadastrador = user.BuscarNomeDoCadastrador(item.Idcadastrador);

            


            
             if (item.Estado)
            {
               <div class="col-3 ">
            <div class="single-price  bg-success">
                <div class="recomemded-price">
                    <img src="~/Content/images/New/houseActive.png" width="60" height="60"/>
                </div>

                <div class="price-item">
                    <ul>
                        <li><b>Casa Nº :</b> <span>@item.MoradaCasaN</span></li>
                        <li><b>Rua :</b> <span>@locais[0]</span></li>
                        <li><b>Bairro :</b> <span>@locais[1]</span>&nbsp;&nbsp;<b>Zona:</b> @item.MoradaZona</li>
                        <li><b>Comuna :</b> <span>@locais[2]</span></li>
                        <li><b>Munícipio :</b> <span>@locais[3]</span></li>
                         <li><b>Registado Por :</b> <span>@nomeCadastrador</span></li>
                    </ul>
                </div>
               
                @Html.ActionLink("Nova","Cadastrar",new {id=@item.MoradaMunicuipeNm},new {@class="btn btn-outline-light fa fa-plus"})
                @Html.ActionLink("Alterar","Cadastrar",new {id=@item.MoradaMunicuipeNm},new {@class="btn btn-outline-warning fa fa-pencil"})
            </div>

        </div>  
            }
             else
             {
                        <div class="col-3 ">
            <div class="single-price  bg-warning">
                <div class="recomemded-price">
                    <img src="~/Content/images/New/houseInactive.png" width="50" height="50"/>
                </div>

                <div class="price-item">
                    <ul>
                        <li><b>Casa Nº :</b> <span>@item.MoradaCasaN</span></li>
                        <li><b>Rua :</b> <span>@locais[0]</span></li>
                        <li><b>Bairro :</b> <span>@locais[1]</span>&nbsp;&nbsp;<b>Zona:</b> @item.MoradaZona</li>
                        <li><b>Comuna :</b> <span>@locais[2]</span></li>
                        <li><b>Munícipio :</b> <span>@locais[3]</span></li>
                         <li><b>Registado Por :</b> <span>@nomeCadastrador</span></li>
                    </ul>
                </div>
               <br/><br/>
                
            </div>

        </div> 
             }
          
           
       

        }
       




    </div>

		
	  </section>

            @*---------------------------------------------------------------------------------------------------------------------------------------------------*@
        </div>
    </div>
</div>
</body>
