@model MVC.Models.Entidades.Municipe.Municipe

@{
    ViewBag.Title = "Cadastrar Municipe";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
   
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Dados Pessoais</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Dados de Nascimento</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Foto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Morada</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content col-md-6">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" >
     <hr/>
     <div class="small-box">
         <div class="input-group">
             <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
             @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Nome Completo" } })
             <small>@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })</small>
         </div>
     </div>
     <div class="small-box">
         <div class="input-group">
             <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
             @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Filho de...." } })
             <small>@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })</small>
         </div>
     </div>
     <div class="small-box">
         <div class="input-group">
             <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
             @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "e de....." } })
             <small>@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })</small>
         </div>
     </div>
     <div class="checkbox">
         Tipo de Documento 
         <label>
              @Html.RadioButtonFor(m => m.MunicipeTipoDocIdentificacao, "true", htmlAttributes: new { @class = "icheckbox_flat-green", type = "radio" })&nbsp;&nbsp;Cédula
              @Html.RadioButtonFor(m => m.MunicipeTipoDocIdentificacao, "false") B.I&nbsp;&nbsp;
              @Html.RadioButtonFor(m => m.MunicipeTipoDocIdentificacao, "true", htmlAttributes: new { @class = "icheckbox_flat-green", type = "radio" })&nbsp;&nbsp;Passaporte
              @Html.RadioButtonFor(m => m.MunicipeTipoDocIdentificacao, "false") Outro
         </label>
     </div>
     <div class="small-box">
         <div class="input-group">
             <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
             @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Nº Documento" } })
             <small>@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })</small>
         </div>
     </div>
     
    
    
        
        
        
        
        

            
     <div class="box-footer">
            <button onclick="Proximo()" class="pull-right btn btn-default"><i class="glyphicon glyphicon-forward"></i> Avançar</button>
        </div>
    </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        @*DADOS NASCIMENTO*@
        <hr/>
        
        
        
        
        
        
         <div class="small-box">
           <div class="input-group">
             <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
             @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Nome Completo" } })
             <small>@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })</small>
           </div>
         </div>
        
        
        
        
        

        
        <div class="box-footer">
             <button  class="pull-left btn btn-default"><i class="glyphicon glyphicon-backward"></i> Recuar</button>
             <button  class="pull-right btn btn-default"><i class="glyphicon glyphicon-forward"></i> Avançar</button>
           
        </div>
    </div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
        @*FOTO*@
        
        
        
         <div class="box-footer">
             <button  class="pull-left btn btn-default"><i class="glyphicon glyphicon-backward"></i> Recuar</button>
             <button  class="pull-right btn btn-default"><i class="glyphicon glyphicon-forward"></i> Avançar</button>
           
        </div>
    </div>
    <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        @*MORADA*@
        <div class="box-footer">
            <button  class="btn btn-default"><i class="glyphicon glyphicon-backward"></i> Recuar</button>
            <button type="submit" class="pull-right btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Gravar</button>
        </div>
    </div>
</div>
}










@*<script>
    function Proximo() {
        $('#myTab a[href="#profile"]').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    }
    
</script> *



