@using Web.Models.Contratos.Repositorios
@using Web.Models.Entidades.Perfis
@model IEnumerable<Web.Models.Entidades.Usuario.User>

@{
    ViewBag.Title = "Detalhes";
}


<header>

    <link href="~/Content/Extras/TelaDetalheUsuario.css" rel="stylesheet" />
</header>
@foreach (var item in Model)
{
    <!------ Include the above in your HEAD tag ---------->

    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="~/Content/images/New/user-info.png" width="100px" height="100px" style="align-content: center" alt=""/>
                        <div class="file btn btn-lg btn-primary">
                            Trocar fotografia
                            <input type="file" name="file"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                    
                        <h5>
                            @item.UserName
                        </h5>
                    
                        @foreach (var perfil in(List<Role>)ViewData["Profile"])
                        {
                            if (item.PerfilId==perfil.Id)
                            {
                                <h6>
                                    @perfil.Name
                                </h6>
                            }
                        }
                       
                        <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Sobre Mim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Minhas Acções</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    
                    
                    @Html.ActionLink("'", "Alterar", new {id = item.Id}, htmlAttributes: new {@class = "btn btn-outline-warning fa fa-edit",style = "font-size: x-large; color:#F500B8 "})
                     @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("CHEFE DE DEPARTAMENTO"))
                      {
                        @Html.ActionLink("'", "Excluir", new {id = item.Id}, htmlAttributes: new {@class = "btn btn-outline-danger  fa fa-remove",style = "font-size: x-large; color:#FF0000 "})
                      
                      }
                    
                
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>WORK LINK</p>
                        <a href="">Website Link</a><br/>
                        <a href="">Bootsnipp Profile</a><br/>
                        <a href="">Bootply Profile</a>
                        <p>SKILLS</p>
                        <a href="">Web Designer</a><br/>
                        <a href="">Web Developer</a><br/>
                        <a href="">WordPress</a><br/>
                        <a href="">WooCommerce</a><br/>
                        <a href="">PHP, .Net</a><br/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nome Usuário</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@item.UserName</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nome Completo</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@item.NomeCompleto</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@item.Email</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Telefone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@item.PhoneNumber</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Perfil</label>
                                </div>
                                @foreach (var perfil in(List<Role>)ViewData["Profile"])
                                {
                                    if (item.PerfilId==perfil.Id)
                                    {
                                        <div class="col-md-6">
                                            <p>@perfil.Name</p>
                                        </div>
                            
                       
                                    }
                        
                                }
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Cadastrado aos</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@item.DataCadastro.ToShortDateString()</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Cadastrado Por</label>
                                </div>
                                @{RepUsuario repUsuario = new RepUsuario();
                                    string nomecadatrador=repUsuario.BuscarNomeDoCadastrador(item.IdCadastrador);
                                    <div class="col-md-6">
                                        <p>@nomecadatrador</p>
                                    </div>
                                }
                              
                               
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Experience</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Expert</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Hourly Rate</label>
                                </div>
                                <div class="col-md-6">
                                    <p>10$/hr</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Total Projects</label>
                                </div>
                                <div class="col-md-6">
                                    <p>230</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>English Level</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Expert</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Availability</label>
                                </div>
                                <div class="col-md-6">
                                    <p>6 months</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Your Bio</label><br/>
                                    <p>Your detail description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
               
            </div>
          
        </form>
        @Html.ActionLink("Voltar", "Index", new {}, htmlAttributes: new {@class = "btn btn-outline-danger pull-right  fa fa-close"})
    </div>

}





























































































