@using Web.Models.Entidades.Perfis
@using Web.Models.Contratos.Repositorios

@model IEnumerable<Web.Models.Entidades.Usuario.User>
@*@model Web.Models.Entidades.Usuario.User*@

@{
    ViewBag.Title = "Listagem de Usuários";
}

<body class="sidebar-menu-collapsed">
<div class="se-pre-con"></div>
<section>
    <!-- main content start -->
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">      
<!-- people -->
        <section class="people">
           
            <!-- //people cards style 2 -->
            <div class="card card_border mb-5">
                <div class="cards__heading">
                     <h3>Usuários Cadastrados <span></span></h3>
                    
                     
                    <div class="dropdown-divider"></div>
                   <a href="@Url.Action("Cadastrar")" class="btn btn-outline-success"><i class="fa fa-plus"></i> Cadastrar</a>
                    @*<a href="@Url.Action("")" class="btn btn-outline-info pull-right" ><i class="fa fa-print"></i> Imprimir</a>*@
                </div>
                <div class="card-body">
                    <div class="row px-2">
                        @foreach (var item in Model)
                        {

                        <div class="col-lg-3 col-md-6 mb-4 px-2">
                            <div class="card text-center card_border py-2">
                                <div class="card-body">
                                    <div class="team-main-19">
                                        <a href="#url"><img class="rounded-circle" src="~/Content/images/people1.jpg" alt=" "></a>
                                        <div class="right-team-9">
                                            <div>
                                                <h5><a href="#url" class="card__title mb-2 mt-3">@item.UserName</a></h5>
                                                @foreach (var profile in(List<Role>)ViewData["Profile"])
                                                 {
                                                      if (item.PerfilId==profile.Id)
                                                          {<p class="widget-user-desc">@profile.Name.ToUpper()</p>}
                                                 }
                                                
                                                <p class="">@item.DataCadastro.ToShortDateString()</p>
                                               @if (item.Estado)
                                                 {
                                                  <span  style="font-size: x-large; color: green";>
                                                         <i class="fa fa-thumbs-o-up"></i>
                                                   </span>
                                                   
                                                 
                                                 }else
                                                 {
                                                  <span  style="font-size: x-large; color: red";>
                                                         <i class="fa fa-thumbs-o-down"></i>
                                                   </span>
                                                 }
                                            </div>
                                            <div class="people-social mt-3">                                          
                                              @Html.ActionLink("'","Alterar", new{ id=2}, htmlAttributes:new{@class="bg-warning fa fa-edit" })
                                              @Html.ActionLink("'","Alterar", new{ id=2}, htmlAttributes:new{@class="bg-danger fa fa-remove" })
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    
                       }
                    </div>
                </div>
            </div>
            <!-- //people cards style 2 -->
        </section>
        <!-- //people -->  
    </div>
    <!-- //content -->
</div>
<!-- main content end-->
</section>
</body>