@using Web.Models.Contratos.Repositorios
@model IEnumerable<Web.Models.Entidades.Municipe.Parente>


@{
    ViewBag.Title = "Listagem de Familiares";
}

<body>
    <div class="main-content">
        <div class="container-fluid content-top-gap">

           
             <p >
                    <div class="btn-group show-on-hover">                      
                        @Html.ActionLink("Adicionar","ListarPorNm", new {nM=ViewBag.Nm}, new { @class = "btn btn-outline-success fa fa-plus btn-sm dropdown-toggle mb-2",datatoggle="dropdown", type="button" })
                        <ul class="dropdown-menu bg-success" role="menu">      
                            <li>@Html.ActionLink("Já Cadastrado","JaCadastrado",new {nM=@ViewBag.Nm},new { @class = "btn btn-outline-warning fa fa-plus-circle" })</li>
                             <li>@Html.ActionLink("Novo Cadastro","Cadastrar",new {nM=@ViewBag.Nm},new { @class = "btn btn-outline-secondary fa fa-plus-square" })</li>                                                       
                        </ul>             
                    </div>               
                  
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Familiares de: <strong> @ViewBag.Nm</strong> - @ViewBag.municipe              
                @Html.ActionLink(" Imprimir Lista", "#", new { }, new { @class = "btn btn-outline-info fa fa-print mb-2 pull-right" })
            </p>
            
            <table class="table user-list table-striped  table-hover ">
                <thead class="bg-light">
                    <tr>
                        <th><span>Foto</span></th>
                        <th><span>Nome Completo<br />Nº Munícipe</span></th>
                        <th class="text-center"><span>Data<br /> Nascimento</span></th>
                        <th class="text-center"><span>Tipo Doc<br />Nº Doc</span></th>
                        <th class="text-center"><span>D. Emissão<br />D.Validade</span></th>
                        <th class="text-center"><span>Email<br /> Telefones</span></th>
                        <th class="text-center"><span>Género<br />E. Civil</span></th>
                        <th class="text-center"><span>Idade<br />Grau Parentesco</span></th>
                        <th class="text-center">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @{
                                RepGenerico generico = new RepGenerico();
                                string genero = generico.CarregarGenerosPorId(item.MunicipeGenero);
                                string estadoCivil = generico.CarregarEstadoCivilPorId(item.MunicipeEstadoCivil);
                                int idade = DateTime.Now.Year - @item.MunicipeDataNascimento.Year;
                                string tipoDocNome = generico.CarregarTipoDocPorId(item.MunicipeTipoDocIdentificacao);
                                string grauParentesco = generico.CarregarGrauParentescoPeloNM(item.MunicipeParenteNm);
                            }
                            <td style="width: 3%;">
                                <img src="~/Content/images/New/UserMale.png">
                            </td>
                            <td style="width: 15%;">
                                <a title="Clique para ver Detalhes">@item.Nome</a><br />
                                <span class="user-subhead">@item.MunicipeNm</span>
                            </td>
                            <td class="text-center">
                                <span>@item.MunicipeDataNascimento.ToShortDateString()</span>
                            </td>
                            <td class="text-center">
                                @tipoDocNome<br />
                                <span class="user-subhead">@item.MunicipeNDocIdent</span>
                            </td>
                            <td class="text-center">
                                @item.MunicipeDocDataEmissao.ToShortDateString()<br />
                                <span class="user-subhead">@item.MunicipeDocDataValidade.ToShortDateString()</span>
                            </td>
                            <td class="text-center">
                                @item.MunicipeEmail<br />
                                <span class="user-subhead">@item.MunicipeTelefone1-@item.MunicipeTelefone2</span>
                            </td>
                            <td class="text-center">
                                @genero<br />
                                <span class="user-subhead">@estadoCivil</span>
                            </td>
                            <td class="text-center">
                                @idade<br />
                                <span class="user-subhead label label-success">@grauParentesco</span>
                            </td>
                            <td style="width: 0%;"  >
                                @Html.ActionLink("Alterar","Alterar",new {id=@ViewBag.Nm,nM=item.MunicipeNm},new { @class = "btn btn-warning btn-block btn-sm " })
                               @Html.ActionLink("Excluir","JaCadastrado",new {nM=@ViewBag.Nm},new { @class = "btn btn-danger btn-block btn-sm " })                               
                            </td>
                        </tr>

                    }
                </tbody>
            </table>


        </div>
        <a href="@Url.Action("Listar","Municipe")" class="btn btn-outline-danger pull-right mr-2"><i class="fa fa-close"></i> Voltar a listagem de Munícipes</a>
    </div>
   
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
</body>


